<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">

  <p>Olá {{name}}!</p>
  <br />
  <p>Sejam bem-vindos ao nosso novo Projeto!</p>
  <p>Ficamos felizes pelo interesse em nos conhecer</p>
	<p>Venha fazer parte da nossa comunidade toda Open Source:</p>
	<p>
		<a href="{{github}}">GitHub</a>
	</p>
  <p>Caso você não tenha realizado essa solicitação de criação de conta, entre em contato com a nossa equipe.</p>
	<p>Email: opensourceforjuniors@gmail.com</p>
  <br />
  <p>Obrigado!</p>
  <p> Team API </p>

</div>
